/* CSS变量 */
:root {
  /* 头部栏和底部栏的层级 */
  --headerAndFooter-z-index: 99;
  /* 覆盖层的层级 */
  --wrapper-z-index: 100;
  /* 弹窗的层级 */
  --dialog-z-index: 101;
  /* 消息提示框的层级 */
  --messageBox-z-index: 102;
}

/* 头部 */
/* 标题栏 */
.header {
  display: flex;
  width: 100%;
  height: 32px;
  background-color: #333;
  line-height: 32px;
  user-select: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: var(--headerAndFooter-z-index);
}
/* 菜单 */
.header .menu {
  flex: 1;
  display: flex;
  color: white;
  position: relative;
}
.header .menu div {
  padding-left: 10px;
  padding-right: 10px;
}
.header .menu ul {
  position: absolute;
  left: 0;
  top: 31px;
  display: block;
  text-align: left;
  display: none;
  background-color: #333;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
.header .menu ul li {
  padding: 0 10px 3px;
}
.header .menu div:has(p:hover),
.header .menu ul li:hover
 {
  background-color: #000;
}
.header .menu ul li:last-child {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.header .menu ul.view li:first-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
/* .header .menu p:hover + ul,
.header .menu ul:hover {
  display: block;
} */
/* 图标 */
.header .icon {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header .icon img {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}
.header .icon img:first-child {
  transition: all .5s ease;
  transform: rotate(0deg);
}

/* 主体 */
.body {
  position: absolute;
  left: 0px;
  top: 32px;
  padding: 10px 15px;
  width: 100%;
  height: calc(100% - 48px);
  user-select: none;
  overflow: auto;
}
/* 内容区 */
.body .content {
  height: 50%;
}
/* 操作区 */
.content .operation {
  display: flex;
}
/* 选择器 */
.content .operation .selector {
  flex: 1;
}
.content .selector label {
  margin-right: 10px;
}
/* .content .selector .file input[type="file"],
.content .selector .directory input[type="file"] {
  display: none;
} */
.content .operation .selector .export {
  display: none;
}
/* 文件列表 */
.content .file-list {
  margin: 10px 0;
  border: 1px solid #000;
  border-radius: 3px;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 75%;
}
/* 标题栏 */
.content .file-list .title {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding: 3px 0;
  width: 100%;
  background-color: #f5f5f5;
}
.content .file-list .title div {
  width: 25%;
  text-align: center;
}
/* 文件内容 */
.content .file-list .files {
  padding: 5px 10px;
  flex: 1;
  overflow: auto;
}
.content .file-list .files:focus-visible {
  outline: 1px auto #000;
}
.content .file-list .files .line {
  display: flex;
  margin-bottom: 5px;
}
.content .file-list .files .line > div {
  padding: 0 5px;
  width: 25%;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.content .file-list .files .line .actions {
  display: flex;
  justify-content: space-evenly;
}
.content .file-list .files .line .btn {
  width: 20%;
  padding: 0;
  text-align: center;
}
/* 加密区 */
.content .encrypt {
  display: flex;
  align-items: center;
  width: 100%;
}
.content .encrypt .algorithm {
  flex: 1;
  display: flex;
  align-items: center;
}
.content .encrypt .btn img {
  display: none;
  width: 16px;
  height: 16px;
  text-align: center;
  vertical-align: middle;
  /* animation: loading 1s linear infinite; */
}
/* 检验区 */
.body .check {
  margin-top: 20px;
}
/* 哈希值对比区 */
.body .check .hash-value {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.check .hash-value .origin,
.check .hash-value .target {
  flex: 1;
}
.check .hash-value .origin div,
.check .hash-value .target div {
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
}
.check .hash-value .origin textarea,
.check .hash-value .target textarea {
  padding: 5px 10px;
  width: 100%;
}
.check .hash-value .compare {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.check .hash-value .compare .btn {
  border-radius: 50%;
  padding: 10px;
  font-size: 18px;
}
/* 对比结果提示区 */
.body .check .message {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

/* 底部 */
.footer {
  width: 100%;
  height: 16px;
  /* background-color: #333; */
  background-image: linear-gradient(to top, #333 0%, #333 75%, #f0f0f0 100%);
  font-size: 9px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  line-height: 16px;
  user-select: none;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: var(--headerAndFooter-z-index);
}

/* 加载转圈效果 */
.loading div {
  display: none;
  position: absolute;
  left: calc(50% - 50px);
  top: calc(50% - 50px);
  border: 3px solid #000;
  border-top-color: rgba(0, 0, 0, 0.2);
  border-right-color: rgba(0, 0, 0, 0.2);
  border-bottom-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  /* background-color: rgba(0, 0, 255, 0.5); */
  animation: loading 1s ease infinite;
}
/* 关于弹窗 */
.about {
  display: none;
}
.about .dialog-title img {
  width: 120px;
  height: 120px;
}
.about .dialog-content .github {
  cursor: pointer;
}
.about .dialog-content .github:hover {
  color: blue;
  text-decoration: underline;
}

/* 详情弹窗 */
.detail {
  display: none;
}
.detail .dialog-title {
  font-size: 16px;
  font-weight: 700;
}